@mixin tab__item {
  border: none;
  text-align: left;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1.5rem;

  &:hover {
    background-color: $gallery;
  }
}

@mixin tabActive {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background-color: $emerald;
    transition: width 0.25s ease-in-out;
  }

  &:hover {
    &::before {
      background-color: $cerulean;
    }
  }
}

@mixin box__shadow {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  transition: box-shadow 0.3s ease;
}

@mixin box__shadow-hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
}

@mixin button__reset {
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
}
