// Height
$height-nav: 6rem;

// Color
$primary-bg: #ff8906;
$text-color: #333;
$white-color: #fff;
$dawn-pinka: #e4e4e4;
$black-color: #000;
$indigo: #455acc;
$bay-of-many: #263694;
$malibu: #8ec5fc;
$perfume: #e0c3fc;
$cornflower-blue: #6a5af9;
$cerulean: #0093e9;
$electric-violet: #b721ff;
