.course__demo {
  .num__courses {
    display: flex;
    align-items: center;
    user-select: none;
    margin-bottom: 5rem;

    .icon {
      width: 5rem;
      height: 5rem;
      padding: 1rem;
      background-color: transparent;
      border: 1px solid $dawn-pinka;
      border-radius: 50%;
    }

    .course__text__wrap {
      font-size: 1.2rem;
      margin-left: 1.5rem;
      font-weight: 300;
      opacity: 0.6;

      .course__text {
        line-height: 1.8;

        > .num__change {
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
  }

  .typical__course {
    &-title {
      opacity: 0.8;
      margin-bottom: 5rem;

      > h2 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 1rem;
        font-weight: 500;
      }

      > p {
        font-size: 1.48rem;
        font-weight: 300;
      }
    }

    &-detail {
      --column: 6;
      --spacing: 1.5rem;
      width: 100%;
      border-bottom: 1px solid $gallery;
      position: relative;

      .tab__btn {
        width: calc(100% / var(--column));
        @include tab__item;
      }

      .tab__btn.current {
        @include tabActive;
      }
    }
  }

  .course__list {
    margin-top: 2rem;
  }
}
