.user__management {
  .user__wrap {
    width: 100%;
    height: 89vh;
    border-radius: 0.5rem;
    box-shadow: 0 -4px 32px rgba($black-color, 0.2);
    overflow-y: hidden;

    .user__header {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 1.5rem 1.5rem 0 1.5rem;

      .header__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;

        > .icon__add {
          border: none;
          outline: none;
          width: 4rem;
          height: 4rem;
          display: flex;
          background-color: $primary-bg;
          border-radius: 50%;
          cursor: pointer;
          box-shadow: 0 -4px 32px rgba($black-color, 0.2);
          transition: opacity 0.25s ease-in;

          &:hover {
            opacity: 0.85;
          }

          > svg {
            font-size: 3rem;
            margin: auto;
            color: $white-color;
          }
        }

        > p {
          font-size: 1.3rem;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem 1.8rem;
          width: fit-content;
          border: 1px solid $tundora;
          border-radius: 2rem;
          user-select: none;

          > svg {
            font-size: 2rem;
            opacity: 0.7;
            margin-right: 0.5rem;
          }
        }

        > .filter {
          display: flex;
          .item {
            margin: 0 1.5rem;

            > select {
              font-size: 1.4rem;
              font-weight: 300;
              color: #333;
              width: 100%;
              border: none;
              outline: none;
              background-color: transparent;
              padding: 0.5rem 1rem;
              border-bottom: 1px solid #333;
              cursor: pointer;
            }
          }
        }
      }

      .header__bottom {
        > input {
          display: block;
          width: 100%;
          border: none;
          outline: none;
          border-bottom: 1px solid $gallery;
          padding: 1rem 1.5rem;
          font-size: 1.5rem;

          &:focus {
            border-color: $primary-bg;
          }
        }
      }
    }

    .user__render {
      margin-top: 2rem;

      &-content {
        height: 72vh;
        overflow-y: auto;

        .user__list {
          .item {
            cursor: pointer;

            &:hover {
              background-color: $gallery;
            }

            > .item__content {
              display: flex;
              align-items: center;
              padding: 0.8rem 1.5rem;

              .item__left {
                display: flex;
                align-items: center;
                flex: 1;

                .user__img {
                  position: relative;
                  > img {
                    display: block;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                  }

                  > p {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $dove-gray;
                    opacity: 0.5;
                    > svg {
                      font-size: 2.2rem;
                      color: $white-color;
                      opacity: 0.7;
                    }
                  }

                  > span {
                    position: absolute;
                    display: block;
                    text-align: center;
                    line-height: 2rem;
                    right: -10px;
                    top: -5px;
                    width: 3rem;
                    height: 2rem;
                    border-radius: 2rem;
                    background-color: $red;
                    color: $white-color;
                  }
                }

                .user__name-contact {
                  margin-left: 2rem;

                  > p {
                    font-size: 1.4rem;
                    line-height: 1.4;

                    > span {
                      font-size: 1.2rem;
                      display: block;
                      color: $dove-gray;
                    }
                  }
                }
              }

              .item__right {
                > button {
                  border: none;
                  box-shadow: none;
                  outline: none;
                  background-color: transparent;
                  cursor: pointer;
                  margin-left: 2rem;
                  padding: 0;
                  opacity: 0.6;
                  transition: opacity 0.25s ease-in-out;

                  &:hover {
                    opacity: 1;
                  }

                  > svg {
                    font-size: 2.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .user__info {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 -4px 32px rgba($black-color, 0.2);
    padding: 1.5rem;
    overflow-y: hidden;

    &-left {
      text-align: center;
      margin-top: 5rem;

      .avartar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;

        > img {
          display: block;
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 1rem;
        }

        > span {
          font-size: 1.5rem;
          font-weight: 500;
        }

        > p {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $dove-gray;
          opacity: 0.5;
          margin-bottom: 1rem;
          > svg {
            font-size: 2.2rem;
            color: $white-color;
            opacity: 0.7;
          }
        }
      }
    }

    &-right {
      width: 100%;
      border-radius: 0.5rem;
      padding: 1.5rem;
      @include box__shadow;
      overflow-y: hidden;

      &:hover {
        @include box__shadow-hover;
      }

      > h4 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 3rem;
      }

      .view__form {
        .form__field {
          margin-bottom: 2rem;
          > label {
            font-size: 1.3rem;
            display: block;
            color: $dusty-gray;
          }

          > input {
            display: block;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid $gallery;
            padding: 1rem 0;
            height: 2rem;

            &:focus {
              border-color: $primary-bg;
            }
          }

          > select {
            border: none;
            width: 100%;
            border-bottom: 1px solid $gallery;
            outline: none;
            padding-bottom: 0.5rem;
            height: 3rem;
            margin-top: 1rem;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        > button {
          display: block;
          width: 100%;
          border: none;
          height: 4rem;
          border-radius: 0.5rem;
          background-color: $primary-bg;
          color: $white-color;
          cursor: pointer;
        }
      }
    }
  }
}

.user__info.hidden {
  box-shadow: none;
}
