.course__item-manage {
  --spacing: 1.2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2.4rem;
  @include box__shadow;

  &:hover {
    @include box__shadow-hover;
  }

  .item__top {
    cursor: pointer;

    &:hover {
      > .item__img {
        transform: scale(1.1);
      }

      > .item__info {
        background-color: $gallery;
      }
    }

    .item__img {
      height: 10rem;
      background-image: url("../../images/bg-hero.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: 0.25s ease-in-out;
    }

    .item__info {
      color: $text-color;
      padding: var(--spacing);
      transition: 0.25s ease-in-out;
      margin-bottom: 1rem;

      > h4 {
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: 500;
        height: 5rem;
      }
    }
  }

  .item__bottom {
    padding: var(--spacing);
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .btn__using {
      background-color: transparent;
      padding: 0;
      @include button__reset;

      > svg {
        font-size: 2.5rem;
        color: $tundora;
        opacity: 0.9;
      }
    }
  }
}
