.user__course-block {
  margin-top: 1.5rem;
  background-color: $athens-gray;
  padding: 1rem 0;
  border-radius: 0.5rem;
  overflow-y: hidden;
  @include box__shadow;

  &:hover {
    @include box__shadow-hover;
  }

  > div {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;

    > h4 {
      font-size: 1.5rem;
      font-weight: 400;
      opacity: 0.7;
    }

    > p {
      font-size: 1.3rem;
      color: $tundora;
      font-weight: 300;
      flex: 1;
      text-align: center;
    }

    > svg {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  > .list__course {
    overflow-y: auto;

    li {
      display: flex;
      align-items: center;
      padding: 1rem 1.5rem;

      &:hover {
        background-color: $gallery;
      }

      > svg {
        font-size: 2.5rem;
        opacity: 0.5;
      }

      > p {
        flex: 1;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.4;
      }

      > button {
        @include button__reset;
        background-color: transparent;

        > svg {
          font-size: 2rem;
          color: $tundora;
          opacity: 0.8;
        }
      }
    }
  }
}
