.tab__category {
  --column: 6;
  --spacing: 1.5rem;
  width: 100%;
  border-bottom: 1px solid $gallery;
  position: relative;

  .tab__btn {
    width: calc(100% / var(--column));
    @include tab__item;
  }

  .tab__btn.current {
    @include tabActive;
  }
}
