.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $width-sidebar;
  height: 100%;
  background-color: $white-color;
  // box-shadow: 0px 5px 5px 0px rgba($color: #000000, $alpha: 0.2);
  z-index: 1200;
  padding-top: $height-nav;
  transition: 0.25s ease-in-out;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;

    .content__ousite-link {
      .link {
        font-size: 1.4rem;
        color: $text-color;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        margin-bottom: 1.5rem;
        width: 100%;
        // opacity: 0.8;

        &__icon {
          font-size: 2.2rem;
          flex-shrink: 0;
        }

        > span {
          visibility: hidden;
          opacity: 0;
          width: 0;
          margin-left: 0;
          transition: 0.2s ease-in-out;
        }
      }

      .link.action {
        background-color: $dawn-pinka;
        font-weight: 500;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }
    }
  }
}

.sidebar.show {
  width: $width-sidebar-change;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  > .sidebar__content {
    > .sidebar__link {
      > span {
        visibility: visible;
        opacity: 1;
        width: auto;
        margin-left: 1.5rem;
      }
    }
  }
}
